/* About.css */
.mission-statement {
    margin-bottom: 40px;
    text-indent: 20px; /* Adjust the indentation space */
}

.mission-statement p {
    margin-bottom: 1.5em; /* Adjust spacing between paragraphs */
}

.about-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Adjust margin as needed */
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.container {
    width: 80%;
    margin: 0 auto;
}
