/* Data.css*/

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.graphChange {
    padding: 20px;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: #8c8c8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.graphChange:hover{
    background-color: #333;
}



/*Graph Layout*/
.graphcontainer {
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items to the top */
}

.graph {
    flex: 1;
    height: 500px;
}

.textContainer {
    padding-top: 55px;
}

p.explanation {
    flex: 2;
    font-family: 'Garamond', serif;
    font-size: 22px;
    padding-top: 100px;
    padding-right: 10px;
    text-align: left;
    max-width: 400px;
}

p.networkexplanation {
    flex: 2;
    font-family: 'Garamond', serif;
    padding-right: 10px;
    text-align: left;
    max-width: 400px;
}